* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color:#AED5FB;
    margin:auto;
    max-width: 80vw;
    height:100vh;
    display:grid;
    grid-template-columns: auto 15%;
}

@media screen and (min-width: 768px) {
    body {
        grid-template-rows: 15% 10% auto 15%;
    }

}
header,footer,nav,aside,main {
    background-color:#fff;
    border:1px dashed #303030;
}

header {
    grid-column: 1/3;
    padding:10px;
}

header img {
    float:left;
    margin-right:10px;
}

header h3 {
    color:#303030;
    font-weight: bold;
    font-size:0.8em;
}

header p {
    color:#303030;
    font-weight: normal;
    font-size:0.7em;
}

header a {
    color:#303030;
    text-decoration:underline;
}

header a:hover {
    color:#3A478F;
    text-decoration:underline;
}

nav {
    grid-column: 1/3;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content: center;
    background-color: #EBEBEB;
    gap:2px;
}

@media screen and (min-width: 768px) {
    nav {
        justify-content: center;
    }

}

nav ul li {
    list-style-type: none;
    margin:5px;
}

@media screen and (min-width: 768px) {
nav ul li {
    float:left;
}
}

nav a {
    display:inline-block;
    padding:5px;
    background-color:#3A478F;
    color:#f2f2f2;
    text-decoration:none;
    font-size:1.2em;
    border-radius:2px;
    transition-duration: 250ms;
}

nav a:hover {
    background-color:#f2f2f2;
    color:#3A478F;
    transform: scale(1.07, 1.07);
    border:1px solid #3A478F;
}

aside {
    grid-column: 2/3;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
}

.asideItem img {
    margin:10px;
    width:80%;
    border:1px solid #303030;
}

@media screen and (max-width: 768px) {
    aside {
        flex-direction:row;
    }

    .asideItem img {
        margin:0px;
        width:25%;
        border:1px solid #303030;
    }
}

main {
    grid-column: 1/2;
    text-align:center;
    padding:10px;

}

footer {
    grid-column: 1/3;
    display:flex; 
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    flex-wrap:wrap;

}

@media screen and (max-width: 768px) {
    footer {
        flex-direction:column-reverse;
        padding:10px;
    }
}

.footerItem1 {
    margin:auto;
    text-align: center;
    padding-left:10px;
    font-size:0.7em;
}

.footerItem1 a{
    text-decoration:none;
    color:#303030;
}

.footerItem1 a:hover {
    color:#3A478F;
    text-decoration:underline;
}
@media screen and (max-width:768px) {
    body {
        max-width:100vw;
    }

    header, nav, aside,footer, main {
        grid-column: 1/3;
    }

    header {
        grid-row: 1/2;
    }

    nav {
        grid-row: 2/3;
    }

    aside {
        grid-row: 3/4;
    }

    aside ul li {
        margin:10px;
    }

    aside img {
        width:25%;
        float:left;
    }

    main {
        grid-row: 4/5;
    }

    footer {
        grid-row: 5/6;
    }
}
